@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Shippori+Antique+B1&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-family: "Shippori Antique B1", sans-serif;
  user-select: none;
  background-color: #d1d1d1;
}

nav {
  width: initial;
  height: 8vh;
  background-color: #000000;
}

.nav-center {
  letter-spacing: 1px;
  background-color: #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  border-bottom: 1px solid black;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list li {
  margin: 10px;
}

.nav-list li a {
  color: rgb(31, 31, 31);
  text-decoration: none;
}

.nav-list li img {
  display: grid;
  place-content: center;
  width: 20px;
  cursor: pointer;
  opacity: 50%;
}

main {
  height: 92vh;
}

.center {
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.colorPlate1,
.colorPlate2,
.colorPlate3,
.colorPlate4,
.colorPlate5 {
  height: 92vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.colorPlate1 {
  width: 20%;
}

.colorPlate2 {
  width: 20%;
}

.colorPlate3 {
  width: 20%;
}

.colorPlate4 {
  width: 20%;
}

.colorPlate5 {
  width: 20%;
}

.center div h2 {
  margin: 20px;
  letter-spacing: 2px;
  font-weight: 900;
  border-radius: 20px;
  background-color: rgb(31, 31, 31);
  font-size: 20px;
  color: #d1d1d1;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center h2 span {
  user-select: all;
}

.btn {
  position: fixed;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -90%);
  background-color: #d1d1d1;
  font-weight: 400;
  border-radius: 20px;
  border: 2px solid rgb(31, 31, 31);
  font-size: 15px;
  color: rgb(31, 31, 31);
  padding: 15px 30px;
  letter-spacing: 4px;
}

.btn:active {
  color: #d1d1d1;
  background-color: rgb(31, 31, 31);
  box-shadow: 10px 10px 21px #b2b2b27e, -10px -10px 21px #f0f0f070;
}

.convertedtoGradient {
  height: 100vh;
  display: none;
}

.convertedtoGradient h2 {
  margin: 20px;
  letter-spacing: 2px;
  font-weight: 900;
  border-radius: 20px;
  background-color: rgb(31, 31, 31);
  font-size: 20px;
  color: #d1d1d1;
  padding: 20px;
}

.convertedtoGradient h2 span {
  user-select: all;
}

#backup {
  width: inherit;
  background-color: transparent;
  border: none;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#clipborad {
  display: grid;
  place-content: center;
  width: 30px;
  cursor: pointer;
  opacity: 50%;
}

#clipborad:active {
  opacity: 100%;
}

#lock1,
#lock2,
#lock3,
#lock4,
#lock5 {
  background-color: transparent;
  border: none;
}

#lock1 img,
#lock2 img,
#lock3 img,
#lock4 img,
#lock5 img {
  display: grid;
  place-content: center;
  width: 30px;
  cursor: pointer;
  opacity: 50%;
}

@media only screen and (max-width: 800px) {
  .nav-center {
    padding: 10px 20px;
    font-size: 10px;
  }

  .center {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .colorPlate {
    width: 100%;
  }

  .btn {
    position: fixed;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%, -92%);
    height: 60px;
    background-color: #d1d1d1;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid rgb(31, 31, 31);
    font-size: 15px;
    color: rgb(31, 31, 31);
    padding: 15px 30px;
    letter-spacing: 4px;
  }

  .convertedtoGradient h2 {
    display: none;
  }

  #backup {
    width: inherit;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #clipborad {
    display: grid;
    place-content: center;
    width: 30px;
    cursor: pointer;
    opacity: 50%;
  }

  #clipborad:active {
    opacity: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .center div h2 {
    margin: 20px;
    letter-spacing: 2px;
    font-weight: 900;
    border-radius: 20px;
    background-color: rgb(31, 31, 31);
    font-size: 10px;
    color: #d1d1d1;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #lock1 img,
  #lock2 img,
  #lock3 img,
  #lock4 img,
  #lock5 img {
    display: grid;
    place-content: center;
    width: 15px;
    cursor: pointer;
    opacity: 50%;
  }

  .nav-center {
    padding: 10px 30px;
    font-size: 10px;
  }

  .center {
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .colorPlate {
    width: 100%;
  }

  .btn {
    position: fixed;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%, -92%);
    height: 60px;
    background-color: #d1d1d1;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid rgb(31, 31, 31);
    font-size: 15px;
    color: rgb(31, 31, 31);
    padding: 15px 30px;
    letter-spacing: 4px;
    z-index: 100;
  }

  .convertedtoGradient h2 {
    display: none;
  }

  #backup {
    width: inherit;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #clipborad {
    display: grid;
    place-content: center;
    width: 30px;
    cursor: pointer;
    opacity: 50%;
  }

  #clipborad:active {
    opacity: 100%;
  }
  .nav-list li img {
    display: grid;
    place-content: center;
    width: 15px;
    cursor: pointer;
    opacity: 50%;
  }
}
